.notes{
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    border-radius: 10px;
    box-shadow: 0 0 10pt 1pt lightgray;

    padding: 10pt;
    padding-bottom: 1pt;
    margin: 5pt;
    max-width: 30%;
    width: fit-content;
    transition: ease-in-out 0.2s;
}

.notes:hover{
    transform: scale(1.05);
    margin: 10pt;
}

.removeButton{
    border-style: none;
    border-radius: 5pt;
    background-color: lightgray;
    padding: 5pt;
    margin-top: 10pt;
    font-size: 10pt;
}
.removeButton:active{
    transform: scale(0.9);
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#toggleNewNote{
    margin-bottom: 10pt;
}

#notesManageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10pt;
    overflow: hidden;
    padding: 5pt;

    max-height: 500px;
    transform: translateY(0);
    opacity: 1;
    transition: all 0.3s ease;
}

.notesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.noteManagerButton{
    padding: 7.5pt;
    border-style: solid;
    border-radius: 25pt;
    border-width: 1px;
}

.inputFields{
    border-style: solid;
    border-width: 1px;
    background-color: rgb(220, 220, 220);
    border-radius: 7.5pt;
    padding: 6pt;
}

#noteContentInput{
    min-height: 50pt;
}

.hidden{
    transform: translateY(-20px) !important;
    opacity: 0 !important;
    max-height: 0 !important;
}

.noteId{
    font-size: 10pt;
    color: gray;
}

#splitLine{
    color: rgba(211, 211, 211, 0.264);
}