.notes{
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    border-radius: 10px;
    box-shadow: 0 0 10pt 1pt lightgray;

    padding: 10pt;
    margin: 5pt;
    max-width: 30%;
    width: fit-content;
    transition: ease-in-out 0.2s;

    display: flex;
    flex-direction: column;

}

@media (max-width: 600px) {
    .notes {
        max-width: 80%;
    }
}

.notes.remove {
    transform: scale(0.75) translateY(-150px);
    opacity: 0;
}

.removeButton{
    position: static;
    border-style: none;
    border-radius: 5pt;
    background-color: lightgray;
    padding: 5pt;
    font-size: 10pt;
}
.removeButton:active{
    transform: scale(0.9);
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#toggleNewNote{
    margin-bottom: 10pt;
}

.newNoteContainer{
    position: absolute;
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 15pt;

    inset: 0;
    margin: auto;
    transition: opacity 0.3s ease;
}

#notesManageContainer{
    position: absolute;
    inset: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    z-index: 100;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10pt;
    overflow: hidden;
    padding: 5pt;

    transform: scale(1);
    opacity: 1;
}

.notesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.noteManagerButton{
    padding: 7.5pt;
    border-style: none;
    border-radius: 10pt;
    box-shadow: 0 0 5pt 1pt rgb(193, 193, 193);
    transition: all 0.3s ease;
}   
.noteManagerButton:hover{
    transform: scale(1.1);
}

.addNoteButton{
    padding: 7.5pt;
    border-style: none;
    border-radius: 50%;

    height: fit-content;
    aspect-ratio: 1 / 1;
    z-index: 98;
    transform: rotate(0deg) scale(1);
    transition: all 0.3s ease;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15pt;
}

.addNoteButton.cancel {
    transform: rotate(45deg) scale(1.2);
    z-index: 100;
}

.inputFields{
    border-style: solid;
    border-width: 1px;
    background-color: rgb(220, 220, 220);
    border-radius: 7.5pt;
    padding: 6pt;
}

#noteContentInput{
    min-height: 50pt;
}

.hidden{
    transform: scale(0.5) !important;
    opacity: 0 !important;
    max-height: 0 !important;
}

.noteIdDiv{
    display: flex;
    flex-direction: row;
}

.noteId{
    font-size: 8pt;
    color: gray;
    margin: 0;
}

.manageDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    min-width: 100%;
    box-sizing: border-box;
    gap: 10pt;
    
    border-top: 1px solid lightgray;
    padding-top: 7.5pt;
    margin-top: auto;
}

.dateP{
    font-size: 10pt;
    color: gray;
    margin: 0;
}